.hero {
  font-size: 13px;
  background-color: blue;
  margin: 5px;
  border: 2px solid black;
  flex-direction: column;
  border-radius: 2%;
  width: 50%;
  justify-content: space-evenly;
}

.graduate {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  padding: 20px;
}

h3 {
  margin: 0px;
}

.gradwhite {
  color: hsl(10, 10%, 100%, 0.5);
}

.gradblack {
  color: hsl(219, 29%, 14%, 0.5);
}

.top {
  display: flex;
}

.hero_image {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-left: 20px;
  margin-top: 20px;
}

#daniel {
  height: 250px;
  width: 500px;
  background-color: hsl(263, 55%, 52%);
  color: white;
  grid-column: 2;
  grid-row: 2;
}

#jonathan {
  width: 250px;
  height: 250px;
  background-color: hsl(217, 19%, 35%);
  color: white;
  grid-column: 4;
  grid-row: 2;
}

#jaenette {
  width: 250px;
  height: 250px;
  background-color: hsl(0, 0%, 100%);
  color: black;
  grid-column: 2;
  grid-row: 4;
}

#patrick {
  height: 250px;
  width: 500px;
  background-color: hsl(219, 29%, 14%);
  color: white;
  grid-column: 3;
  grid-row: 4;
}

#kira {
  height: 550px;
  width: 250px;
  background-color: hsl(0, 0%, 100%);
  grid-column: 5;
  grid-row: 2;
}

#core {
  width: 1250px;
  height: 750px;
  background-color: hsl(0, 0%, 81%);
  display: grid;
  grid-template-columns: 50px 300px 250px 300px 265px 200px;
  grid-template-rows: 100px 100px 200px 100px;
}

.text {
  margin: 15px;
}

.paragraph {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}

#background {
  padding: 150px;
  height: 700px;
  width: 1000px;
  display: flex;
  justify-content: center;
}

@media only screen and (375px) {
  #background {
    padding: 50px;
    height: 75%;
    width: 75%;
    display: flex;
    justify-content: center;
  }
}
